<!DOCTYPE html>
<html data-ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <link type="text/css" rel="stylesheet" href="public/assets/stylesheets/vendor.css">
    <link type="text/css" rel="stylesheet" href="public/assets/stylesheets/scss/styles.css">
    <!-- <link type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css"> -->
    <link href="public/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <style>
        body {
            font-family: 'PT Sans', sans-serif;
        }
    </style>
    <title>SW Platform Team (SOS: Save OurSelves )</title>
</head>
<body data-ng-controller="WhopperCtrl as wc">
    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$( "#menu-close").click();>Main</a>
            </li>
            <li>
                <a href="#supervising" onclick=$( "#menu-close").click();>SW Solution Supervising</a>
            </li>
            <li>
                <a href="http://www.solutionpot.co.kr" target="_solutionpot">Solution Portal</a>
            </li>
            <li>
                <a href="http://203.238.222.40/redmine" target="_redmine">Redmine</a>
            </li>
            <li>
                <a href="http://203.238.222.40/redmine" target="_redmine">생일자</a>
            </li>
        </ul>
    </nav>
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>SW Platform Team <font color="#eaeaea">SOS</font></h1>
            <!-- h3>Everything will be fine</h3 -->
			<hr class="small">

			<a href="http://www.solutionpot.co.kr" target="_solutionpot" class="btn btn-clear btn-lg">Solution Portal</a>
            <a href="#supervising" class="btn btn-clear-inverse btn-lg">SW Solution Supervising</a>
			<a href="http://203.238.222.40/redmine"target="_redmine" class="btn btn-clear btn-lg">Redmine</a>
        </div>
    </header>

    <!-- SW Solution supervising  -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <div id="techbody">
        <!-- 공지사항 Alert -->
          <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">SOS 시스템 공지사항 16.06.20(월)</h4>
                </div>
                <div class="modal-body">
                  <p>
                      <!-- <strong>[솔루션별 개인화에 따른 버그 패치완료]</strong><br>
                      1) 입력 데이터 누락 및 오기 수정<br>
                      2) 프로젝트 없을시에는 Dropdown에서 '-' 선택 (입력된 데이터에는 null로 표시됨)<br><br>
                      <strong>※ 주의사항 : 데이터 입력 / 수정 시에 자기 솔루션 필수 선택!</strong> -->
                      <strong>[입력 필드 수정]</strong><br>
                      1) 16년 한국타이어 u-CUBE 유지보수 -> 2016 한타 u-Cube유지[16NP0801]
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        <!-- <section id="supervising" class="services callout-green-up"> -->
        <section id="supervising" class="services callout-green-up text-center">
            <div class="container">
                <h1>SW Solution Technical Supervising </h1>
                <!-- <hr style="width:35%"> -->
                <hr class="small">
            </div>

            <!-- <div id="supportSearch" class="panel-collapse collapse"> -->
            <div>
                <!-- Callout -->
                <aside class="callout-green-bottom">
                    <!-- Search Panel -->
                    <div class="text-vertical-center">
                        <form class="form-inline">
                            <input type="hidden" id="support_id">
                            <div class="row">
                                <!-- 솔루션 선택    -->
                                <select id="solution_line" class="js-example-basic-single" style="min-width:100px">
                                    <option value=""></option>
                                    <option value="u-CUBE">u-CUBE</option>
                                    <option value="Glue">Glue</option>
                                    <option value="PosBee">PosBee</option>
                                </select>

                                <!-- 솔루션 선택 타이핑 선택    -->
                                <select id="solution_version" class="js-example-basic-single" style="min-width:200px">
                                    <option value=""></option>
                                </select>
                                <!-- 프로젝트 타이핑 선택 -->
                                <select id="project_type" class="js-example-basic-single" style="width:435px;">
                                    <option value=""></option>
                                </select>
                                <!-- 분야 타이핑 선택-->
                                <select id="project_target" class="btn" style="min-width:100px">
                                    <option value=""></option>
                                    <option value="포스코">포스코</option>
                                    <option value="패밀리">패밀리</option>
                                    <option value="대외">대외</option>
                                </select>

                                <!-- 담당자 선택 타이핑 선택-->
                                <select id="gluepd" class="js-example-basic-single" style="min-width:100px">
                                    <option value=""></option>
                                </select>
                                <!-- 난이도 선택 타이핑 선택-->
                                <select id="content_level" class="js-example-basic-single" style="min-width:100px">
                                    <option value=""></option>
                                    <option value="하">하</option>
                                    <option value="중">중</option>
                                    <option value="상">상</option>
                                </select>
                            </div>
                            <!-- 둘째줄 -->
                            <div class="row" id="secondRow">
                                <!-- SOP 타이핑 선택-->
                                <select id="sop" class="js-example-basic-single" style="min-width:248px">
                                    <option value=""></option>
                                    <option value="SW솔루션 교육">SW솔루션 교육</option>
                                    <option value="SW솔루션 기술 가이드">SW솔루션 기술 가이드</option>
                                    <option value="SW솔루션 기술 컨설팅">SW솔루션 기술 컨설팅</option>
                                    <option value="SW솔루션 업그레이드">SW솔루션 업그레이드</option>
                                    <option value="SW솔루션 장애대응">SW솔루션 장애대응</option>
                                    <option value="SW솔루션 정기점검">SW솔루션 정기점검</option>
                                    <option value="SW솔루션 패치">SW솔루션 패치</option>
                                    <option value="SW솔루션 시스템 Refresh 대응">SW솔루션 시스템 Refresh 대응</option>
                                    <option value="SW솔루션 supervising">SW솔루션 supervising</option>
                                    <option value="PosBee제품적용">PosBee제품적용</option>
                                    <option value="u-CUBE제품적용">u-CUBE제품적용</option>
                                </select>
                                <!-- SOP 타이핑 선택-->
                                <select id="status" class="js-example-basic-single" style="min-width:100px">
                                    <option value=""></option>
                                    <option value="접수">접수</option>
                                    <option value="진행">진행</option>
                                    <option value="보류">보류</option>
                                    <option value="지연">지연</option>
                                    <option value="완료">완료</option>
                                </select>
                                <div class="form-group">
                                    접수일자
                                    <input type="text" id="support_startdate" ng-model="formData.support_startdate" style="width:78px;color:black;" /> 요청기한
                                    <input type="text" id="support_duedate" ng-model="formData.support_duedate" style="width:78px;color:black;" /> 대응시작
                                    <input type="text" id="support_workbegin" ng-model="formData.support_workbegin" style="width:78px;color:black;" /> 대응종료
                                    <input type="text" id="support_workend" ng-model="formData.support_workend" style="width:78px;color:black;" /> 요청자
                                    <input type="text" id="questioner" ng-model="formData.questioner" style="width:75px;color:black;" />
                                </div>
                            </div>
                            <!-- 둘째줄 -->
                            <div class="row">
                                <!-- 세째줄 -->
                                <div class="form-group">
                                    <input style="min-width:884px" type="text" class="form-control" id="support_content" placeholder="지원 내용을 입력하세요">
                                    <button ng-click="supportSubmit(record)" id="btnSubmit" class="btn btn-clear">입력</button>
                                    <button ng-click="supportUpdate(record)" id="btnUpdate" class="btn btn-clear">수정</button>
                                    <button ng-click="supportDelete(record)" id="btnDelete" class="btn btn-clear">삭제</button>
                                </div>
                            </div>
                            <!-- 세째줄 -->
                        </form>
                    </div>
                    <!-- supertSearch -->
                    <!-- out -->
                </aside>
            </div>
        </section>

        <section id="supervisingList" class="list_section">
            <div class="container">
                <!-- dataTables -->
                <table id="example" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th ng-show="false">id</th>
                            <th>접수일자</th>
                            <th>요청기한</th>
                            <th>대응시작</th>
                            <th>대응종료</th>
                            <th>요청자</th>
                            <th>상태</th>
                            <th>프로젝트</th>
                            <th>분야</th>
                            <th>솔루션</th>
                            <th>담당자</th>
                            <th>종류</th>
                            <th>난이도</th>
                            <th>내용</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng:repeat="support in supportContentList" ng-click="setClickedRow($index);setSelected();" ng-class="{'selected-row':$index == selectedRow}">
                            <td ng-bind="support._id" ng-show="false"></td>
                            <td style="width:6.2%" ng-bind="support.support_startdate"></td>
                            <td style="width:6.2%" ng-bind="support.support_duedate"></td>
                            <td style="width:6.2%" ng-bind="support.support_workbegin"></td>
                            <td style="width:6.2%" ng-bind="support.support_workend"></td>
                            <td style="width:5.3%" ng-bind="support.questioner"></td>
                            <td style="width:4.4%" ng-bind="support.status"></td>
                            <td style="width:6.2%" ng-bind="support.project_type"></td>
                            <td style="width:4.4%" ng-bind="support.project_target"></td>
                            <td style="width:5.3%" ng-bind="support.solution_version"></td>
                            <td style="width:5.3%" ng-bind="support.gluepd"></td>
                            <td style="width:4.4%" ng-bind="support.sop"></td>
                            <td style="width:5.3%" ng-bind="support.content_level"></td>
                            <td id="support_content" ng-bind="support.support_content"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <script type="text/javascript" src="public/assets/javascript/vendorBundle.js"></script>
    <script type="text/javascript" src="public/assets/javascript/bundle.js"></script>
    <script>
        $(function() {
            function datePick(tag_id) {
                $("#" + tag_id + "").datepicker({
                    dateFormat: "yy/mm/dd",
                    onSelect: function(dateStr) {
                        // var date = $(this).datepicker('getDate');
                        // var thedate = $.datepicker.formatDate("yy-mm-dd", $(this).datepicker('getDate'));
                        // console.log("current date : ", date);
                        // console.log("current date : ", thedate);

                        if (tag_id == "support_startdate") {
                            var date1 = $("#" + tag_id).val();
                            $("#support_workbegin").val(date1);
                        } else if (tag_id == "support_duedate") {
                            var date2 = $("#" + tag_id).val();
                            $("#support_workend").val(date2);
                        }
                    }
                });
            }

            $(document.body).on('click', '.dropdown-menu li', function(event) {
                var $target = $(event.currentTarget);
                $target.closest('.btn-group')
                    .find('[data-bind="label"]').text($target.text())
                    .end()
                    .children('.dropdown-toggle').dropdown('toggle');
                return false;
            });

            // popover initialization
            $('[data-toggle="popover"]').popover()

            /* Melody's Custom Theme JavaScript */
            // Closes the sidebar menu
            $("#menu-close").click(function(e) {
                e.preventDefault();
                $("#sidebar-wrapper").toggleClass("active");
            });

            // Opens the sidebar menu
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#sidebar-wrapper").toggleClass("active");
            });

            $(document).ready(function() {
                // $('#myModal').modal('show');

                datePick("support_startdate");
                datePick("support_duedate");
                datePick("support_workbegin");
                datePick("support_workend");

                $("#project_target").select2({
                    placeholder: "분야 선택"
                });
                $("#content_level").select2({
                    placeholder: "난이도"
                });
                $("#sop").select2({
                    placeholder: "SOP 선택"
                });
                $("#status").select2({
                    placeholder: "상태 선택"
                });

                $('#solution_line').select2({
                    placeholder: "솔루션 선택"
                });

                // UI 통일 위함
                $("#project_type").select2({
                    placeholder: "솔루션부터 선택",
                });
                $("#solution_version").select2({
                    placeholder: "솔루션부터 선택"
                });
                $("#gluepd").select2({
                    placeholder: "Empty"
                });
            });

           // Customization based on Projects
           // uCube
           var uCube_solVer = [
               {id: 0, text: null},
               {id: "u-CUBE4.3", text: "u-CUBE4.3"},
               {id: "u-CUBE4.2", text: "u-CUBE4.2"},
               {id: "u-CUBE ENG", text: "u-CUBE ENG"},
               {id: "u-CUBE3.1", text: "u-CUBE3.1"},
               {id: "u-CUBE Entob", text: "u-CUBE Entob"},
               {id: "u-CUBE2.x", text: "u-CUBE2.x"},
               {id: "u-CUBES ESB", text: "u-CUBES ESB"}
           ], uCube_projName = [
               {id: 0, text: null},
               {id: "16 ENG u-CUBE 정비[16GI0544]", text: "16 ENG u-CUBE 정비[16GI0544]"},
               {id: "16 에너지 SM정비[16GB0383]", text: "16 에너지 SM정비[16GB0383]"},
               {id: "16년 엔투비 SM정비[16GC0028]", text: "16년 엔투비 SM정비[16GC0028]"},
               {id: "16년 켐텍 SM정비[16GH0014]", text: "16년 켐텍 SM정비[16GH0014]"},
               {id: "2016 한타 u-Cube유지[16NP0801]", text: "2016 한타 u-Cube유지[16NP0801]"},
               {id: "POSCO VIETNAM 16해외생산 SMB사업[16SH0051]", text: "POSCO VIETNAM 16해외생산 SMB사업[16SH0051]"},
               {id: "SmartFactory기술지원[15SH1172]", text: "SmartFactory기술지원[15SH1172]"},
               {id: "브라질CSP IT구축[11FH0370]", text: "브라질CSP IT구축[11FH0370]"},
               {id: "코리아e플랫폼2016 u-Cube 유지보수[16NC0649]", text: "코리아e플랫폼2016 u-Cube 유지보수[16NC0649]"},
               {id: "16SLA솔루션정비[16SH0312]", text: "16SLA솔루션정비[16SH0312]"},
               {id: "광명산단선재임대창고[14NH1368]", text: "광명산단선재임대창고[14NH1368]"},
               {id: "포스코서버효율화 [15SH0469]", text: "포스코서버효율화 [15SH0469]"},
               {id: "화승R&A시스템구축[14NG1065]", text: "화승R&A시스템구축[14NG1065]"},
               {id: "16에너지 Smart화사업 (16GB1358)" , text: "16에너지 Smart화사업 (16GB1358)"},
               {id: "null", text: "-"}
           ], uCube_pd = [
               {id: 0, text: null},
               {id: "이충렬", text: "이충렬"},
               {id: "오은록", text: "오은록"},
               {id: "장한민", text: "장한민"}
           ],
           // Glue
              Glue_solVer = [
               {id: 0, text: null},
               {id: "Glue F/W 4", text: "Glue F/W 4"},
               {id: "Glue F/W 3 이하", text: "Glue F/W 3 이하"},
               {id: "Glue Master 2", text: "Glue Master 2"},
               {id: "Glue Master 1", text: "Glue Master 1"},
               {id: "Glue Security 3", text: "Glue Security 3"},
               {id: "Glue Security 2", text: "Glue Security 2"},
               {id: "Glue Mobile 1", text: "Glue Mobile 1"},
               {id: "Glue for POSCOSF", text: "Glue for POSCOSF"},
               {id: "Glue for BPC", text: "Glue for BPC"}
           ], Glue_projName = [
               {id: 0, text: null},
               {id: "16인창원 모바일 캠퍼스[16GG0498]", text: "16인창원 모바일 캠퍼스[16GG0498]"},
               {id: "Client통합관리[15SH1152](150901~160415)", text: "Client통합관리[15SH1152](150901~160415)"},
               {id: "PNR IT Infra 구축[14GH0914]", text: "PNR IT Infra 구축[14GH0914]"},
               {id: "POSCO SS-Vina 정보화구축[12GH0753]", text: "POSCO SS-Vina 정보화구축[12GH0753]"},
               {id: "SmartFactory기술지원[15SH1172]" , text: "SmartFactory기술지원[15SH1172]"},
               {id: "대우조선해양 POWIS [12NP1355" , text: "대우조선해양 POWIS [12NP1355]"},
               {id: "대한제강MES구축 [2009061701]" , text: "대한제강MES구축 [2009061701]"},
               {id: "삼일통합물류시스템[15NC0467]" , text: "삼일통합물류시스템[15NC0467]"},
               {id: "아모레퍼시픽 생산관리 고도화[14NP1185]" , text: "아모레퍼시픽 생산관리 고도화[14NP1185]"},
               {id: "연구정보 통합시스템구축[16SH0686]" , text: "연구정보 통합시스템구축[16SH0686]"},
               {id: "엔솔테크놀러지 대한제강 Glue 납품[13NH0324]" , text: "엔솔테크놀러지 대한제강 Glue 납품[13NH0324]"},
               {id: "웨어러블 미래부 과제[15ER0988]" , text: "웨어러블 미래부 과제[15ER0988]"},
               {id: "유니온스틸 MES[D0NP0269]" , text: "유니온스틸 MES[D0NP0269]"},
               {id: "주포스코경영연구소 2013년 GSB[13GR0896]" , text: "주포스코경영연구소 2013년 GSB[13GR0896]"},
               {id: "켐텍 경영정보 인프라[11GP1422]" , text: "켐텍 경영정보 인프라[11GP1422]"},
               {id: "탄소강 표준모델 개발[14SH1460]" , text: "탄소강 표준모델 개발[14SH1460]"},
               {id: "탄소강 표준모델 지원[15SH0956] " , text: "탄소강 표준모델 지원[15SH0956] "},
               {id: "특수강 e-Pro 구축[11GH0467]" , text: "특수강 e-Pro 구축[11GH0467]"},
               {id: "퍼시픽패키지 MES[12NP0182]" , text: "퍼시픽패키지 MES[12NP0182]"},
               {id: "포스코GGT 정보시스템 구축[14GB0641]" , text: "포스코GGT 정보시스템 구축[14GB0641]"},
               {id: "포스코터미널 기지관리 시스템[14GC0902]" , text: "포스코터미널 기지관리 시스템[14GC0902]"},
               {id: "16SLA솔루션정비[16SH0312]" , text: "16SLA솔루션정비[16SH0312]"},
               {id: "광명산단선재임대창고[14NH1368]" , text: "광명산단선재임대창고[14NH1368]"},
               {id: "포스코서버효율화 [15SH0469]" , text: "포스코서버효율화 [15SH0469]"},
               {id: "화승R&A시스템구축[14NG106]" , text: "화승R&A시스템구축[14NG1065]"},
               // 2016.12.09 등록
               {id: "프로세스컴퓨터SW VOC (16SH0401)" , text: "프로세스컴퓨터SW VOC (16SH0401)"},
               {id: "동승자출입관리 체계 구축(16SH0319)" , text: "동승자출입관리 체계 구축(16SH0319)"},
               {id: "광)후판지표자동화(16KH0651)" , text: "광)후판지표자동화(16KH0651)"},
               {id: "16에너지 Smart화사업 (16GB1358)" , text: "16에너지 Smart화사업 (16GB1358)"},
               {id: "null", text: "-"}
           ], Glue_pd = [
               {id: 0, text: null},
               {id: "황유진", text: "황유진"},
               {id: "신경숙", text: "신경숙"},
               {id: "강길섭", text: "강길섭"},
               {id: "장기효", text: "장기효"},
               {id: "조창희", text: "조창희"},
               {id: "배광식", text: "배광식"}
           ],
           // PosBee
              PosBee_solVer = [
               {id: 0, text: null},
               {id: "PosBee 3.x", text: "PosBee 3.x"},
               {id: "PosBee 4.x", text: "PosBee 4.x"}
           ], PosBee_projName = [
               {id: 0, text: null},
               {id: "16SLA솔루션정비[16SH0312]", text: "16SLA솔루션정비[16SH0312]"},
               {id: "동승자출입관리 체계 구축(16SH0319)" , text: "동승자출입관리 체계 구축(16SH0319)"},
               {id: "null", text: "-"}
           ], PosBee_pd = [
               {id: 0, text: null},
               {id: "신경숙", text: "신경숙"},
               {id: "김정우", text: "김정우"},
               {id: "강길섭", text: "강길섭"}
           ];

            $('#solution_line').on('select2:select', function (e) {
                // solution_version (제품버전) & project_type (프로젝트 명) & gluepd (담당자)
                clearCutomizingSelectBox();
                  if ($("#solution_line :selected").text() == "u-CUBE") {
                      cutomizingSelectBox(uCube_solVer, uCube_projName, uCube_pd);
                  } else if ($("#solution_line :selected").text() == "Glue") {
                      cutomizingSelectBox(Glue_solVer, Glue_projName, Glue_pd);
                  } else {
                      cutomizingSelectBox(PosBee_solVer, PosBee_projName, PosBee_pd);
                  }
            });

            function cutomizingSelectBox(solVer, projName, pd) {
                $("#solution_version").select2({
                    placeholder: {
                        id: '0', // the value of the option
                        text: "제품/버전 선택"
                    },
                    data : solVer
                });
                $("#project_type").select2({
                    placeholder: {
                        id: '0', // the value of the option
                        text: "프로젝트 명 선택 (수주 전인경우 입력하지말것)"
                    },
                    data : projName
                });
                $("#gluepd").select2({
                    placeholder: {
                        id: '0', // the value of the option
                        text: "담당자"
                    },
                    data : pd
                });
            }

            function clearCutomizingSelectBox() {
                $("#solution_version").empty();
                $("#project_type").empty();
                $("#gluepd").empty();
            }
        });
    </script>
</body>

</html>
